<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Retailer Dashboard</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="productcrud">Product Management</a></li>
        <li><a href="productcrud">Add Product</a></li>
        <li><a href="#">Total Revenue</a></li>
      </ul>
    </div>
  </nav>
  <div class="adminpage">
    <router-outlet></router-outlet>
  </div>

<a class="p-2 text-dark btn btn-outline-primary" href="productcrud">Add Product</a>

